.page-404 {
	height: calc(100vh - 65px);
	background: url(../img/bg-404.jpg) center center no-repeat;
	background-size: cover;

	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: calc(100vh - 65px);
	}

	img {
		width: 100%;
		max-width: 400px;
	}

	p {
		color: #fff;
		font-size: 4rem;
		font-weight: bold;
		text-align: center;
		line-height: 1;
		margin: 40px auto;
		span {
			font-size: 2rem;
			font-weight: normal;
			display: block;
		}
	}

	.btn { font-size: 1.5rem; }
}