.section-article-list {
	.container { position: relative; }

	.columns {
		margin: 0;
	}

	.column {
		margin-bottom: 0.8rem;
	}

	.card {
		height: 100%;
	}

}

.related-article {
	> h3 {
		color: #000;
		display: flex;
		align-items: center;

		&:before {
			content: "";
			width: 30%;
			height: 2px;
			margin-right: 10px;
			background: $orange;
		}
	}

	.box-article-list {
		height: 570px;
		overflow: auto;
	}

	.article-list {
		border: 2px solid #ebebeb;
		min-height: 100px;
		margin: 0 20px 15px 0;

		a {
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;
			padding-left: 40%;
			color: #000;
			min-height: 100px;

			&:hover {
				background: $orange;
				* { color: #fff; }
			}
		}

		.thumbnail {
			width: 40%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-size: cover;
			background-position: top center;
			background-repeat: no-repeat;
		}

		.text {
			padding: 10px;

			.date { display: block; margin-top: 5px; font-size: 0.9em; }
		}
		
	}

	.column {
		margin-bottom: 0.8rem;
	}


}

// *** detail

// article detail
.article-slideshow {
	position: relative;
	.owl-dots {
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 0 10px;
	}
}



.article-slideshow.infographic-slideshow {
	.main-image img {
		display: block;
		max-width: 100%;
		margin-bottom: 5px;
	}

	.owl-carousel {
		padding: 0 30px;
	}

	.owl-stage-outer { z-index: 1; }

	.owl-nav {
		position: absolute;
		z-index: 0;
		width: 100%;
		margin: -25px 0 0 0;
		top: 50%;
		left: 0;
		display: flex;
		justify-content: space-between;

		.owl-prev,
		.owl-next {
			width: 25px;
			height: 50px;
			margin: 0;
			position: relative;
			background: transparent !important;
			text-transform: uppercase;
			outline: none;
			font-size: 2.5rem;
			color: $orange;
			line-height: 1;

			&:hover {
				color: #000 !important;
			}
		}

		.owl-prev {
			left: 0;
		}

		.owl-next {
			right: 0;
		}

		.owl-prev:after {
			display: block;
			font-weight: bold;
		}

		.owl-next:after {
			display: block;
			font-weight: bold;
		}
	}

	.slide {
		img {
			border:2px solid transparent;
			@include transition(.25s);
			cursor: pointer;
		}
		&:hover img {
			border-color: $orange;
		}
	}
}

.article-filter {
	position: absolute;
	top: 20px;
	right: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-weight: bold;
	color: #000;

	select.form-select {
		width: auto;
		font-size: 1rem;
		margin-left: 15px;
		background-color: #fbfbfb;
		border: 2px solid #ebebeb;
		@include box-shadow(none);
	}
}

.article-footer {
	margin-top: 30px;
	padding-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: bold;
	color: #000;
	border-top: 1px solid #ebebeb;

	.pagination {
		display: flex;
		align-items: center;
		justify-content: space-between;

		a {
			margin: 0 10px;
		}

		i {
			font-size: 0.8em;
		}
	}

	.page-jump {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.form-input {
			width: 50px;
			margin: 0 10px;
			text-align: center;
			font-size: 1rem;
		}

		.btn {
			height: 1.8rem;
			line-height: 1.2rem;
			padding: .25rem 1rem;
		}
	}
}

.article-detail {
	padding: 50px 0;

	h1 {
		color: #000;
	}

	h3 {
		font-size: 1.55rem;
	}

	.article-info {
		display: flex;
		align-items: center;
		border-bottom: 1px solid #ebebeb;
		padding-bottom: 10px;
		margin: 20px 0;
		font-weight: 500;

		>span {
			display: flex;
			align-items: center;
			margin-left: 20px;

			&:first-child {
				margin: 0;
			}
		}

		.view>span {
			font-size: 1.5em;

			margin-right: 5px;
		}

		i {
			margin-right: 10px;
		}
	}

	.tag {
		padding-top: 20px;
		border-top: 2px solid #ebebeb;
	}
}

.gallery {
	margin: 50px 0;

	.image-list+.image-list+.image-list+.image-list+.image-list {
		display: none;
	}

	.image-list a {
		position: relative;
		display: block;
		border: 2px solid transparent;
		margin-bottom: 0.8rem;

		&:hover {
			border-color: $orange;
		}
	}

	img {
		width: 100%;
		display: block;
	}

	.image-counter {
		width: 100%;
		height: 100%;
		color: #fff;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.5);
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
		font-size: 2.5rem;
	}
}

.download {
	margin: 50px 0;

	.download-list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px;
		background: #fafafa;
		border: 2px solid transparent;
		@include transition(.25s);

		&:hover {
			border-color: $orange;
		}
	}

	.download-detail {
		display: flex;
		flex-direction: column;

		p {
			font-weight: bold;
			color: #000;
		}

		.file-info {
			margin-top: 10px;
			display: flex;
			justify-content: space-between;
			font-size: 0.85rem;

			>div {
				margin-left: 15px;

				&:first-child {
					margin-left: 0;
				}
			}

			span {
				display: block;
				font-weight: 500;
				font-size: 1.35em;
				line-height: 1;
			}
		}
	}

	.btn {
		padding: 15px;

		i {
			font-size: 2rem;
			margin-bottom: 7px;
			text-align: center;
			display: block;
		}
	}

	.owl-dots {
		text-align: left;
	}

}

.tag {
	a {
		padding: 10px 15px;
		background: #fafafa;
		border: 1px solid #ebebeb;
		margin: 0 0 15px 15px;
		color: $orange;
		display: inline-block;

		&:first-child {
			margin-left: 0;
		}

		&:hover {
			background: #000;
			color: #fff;
		}
	}
}



// flipbook
.book-container {
	position: relative;
	background: #222;
}

.wowbook-book-container {
	overflow: hidden;
}

.wowbook-controls { background: #000; }

// book detail
.book-info {
	.card { @include box-shadow(none); }
	.card-header,
	.card-footer { padding-left: 0; padding-right: 0; }

	.detail {
		margin-left: 20px;
		padding-bottom: 20px;
		padding-left: 20px;
		border-left: 2px solid #ebebeb;

		.btn {
			margin: 15px 0 0;
			display: flex;
			width: 180px;
			font-weight: bold;
			justify-content: space-between;
		}
	}

	dl {
		margin: 0;	
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		dt { width: 30%; }
		dd { width: 70%; }

		dt,dd { margin: 0 0 10px; }
	}
	
}


// article share
.article-share {
	position: absolute;
	left: -50px;
	top: 0;
	display: flex;
	flex-direction: column;
	.share {
		display: flex;
		flex-direction: column;
	}

	.btn {
		width: 50px;
		height: 50px;
		padding: 15px;
		@include transition(.35s);
	}

	i { color: #fff; }

	.share {
		max-height: 50px;
		overflow: hidden;
		position: relative;
		@include transition(.5s);
		&:hover {
			max-height: 150px;
			div {
				transform: scale(0.4);
				opacity: 0;
				background: $grey;
			}
		}

		div {
			position: absolute;
			top: 0;
			z-index: 1;
		}
	}
}

// vdo
.vdo-container {
	iframe { width: 100%; height: 500px; }
}

@media screen and (max-width:1025px) {
	.article-filter { right: 15px; }
	.article-share { left: 0; z-index: 2; }
}

@media screen and (max-width:568px) {
	.article-detail { 
		padding-top: 25px; 
		.article-info { flex-wrap: wrap; }
		.article-info .author { margin-left: 0; }
	}

	.article-filter { 
		margin-bottom: 20px;
		top: 0;
		right: 0; 
		position: relative;  
		justify-content: flex-end; 
	}

	.article-share {
		.btn {
			width: 40px;
			height: 40px;
			line-height: 40px;
			padding: 0;
		}

		.share { max-height: 40px; }
	}

	.article-footer {
		flex-direction: column;
		.pagination { width: 100%; margin: 15px 0; }
	}

	.tag { 
		margin-bottom: 30px; 
		a { width: 30.33%; margin-left: 3%; text-align: center; }
		a:nth-child(3n+1) { margin-left: 0; }
	}

	.related-article .box-article-list { height: 320px; }

	.section-article-list .card.card-highlight-article {
		padding-top: 400px;
	}

	.book-info {
		.detail { border: none; margin: 0; padding-left: 0; }
		.detail .btn { margin: 15px auto 0; }
		dl dt,
		dl dd { width: 100%; }
	}
}
