body { padding-top: 79px; }

hr { margin:20px 0; border:none; border-bottom:1px solid #ebebeb; }

.container {
	padding: 0 15px;
}

.header {
	width: 100%;
	@include box-shadow(0 1px 5px rgba(0, 0, 0, 0.2));
	position: fixed;
	top: 0;
	left: 0;
	z-index: 11;

	.box-main-menu {
		border-top: 3px solid $orange;
		position: relative;
		z-index: 10;
		background: #fff;
	}

	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.logo { 
		width: 80px;
		margin-right: 20px; 
		img { display: block; padding: 10px 0; }
	}

	.navigation {
		background: #fff;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		&-top {
			display: flex;
			align-items: center;
			.link {
				display: flex;
				height: 100%;
				align-items: center;
				justify-content: center;
				margin: 0 6px;
				color: $grey;
				text-decoration: none;
				position: relative;
				overflow: hidden;
				&:after {
					content:"";
					position: absolute;
					width: 0;
					height: 3px;
					background: $orange;
					bottom: 0;
					left: 0;
					@include transition(all .25s ease);
				}
				&:hover,
				&.active {
					color: $orange;
					&:after {
						width: 100%;
					}
				}
			}
		}
	}

	.header-tool {
		display: flex;
		align-items: center;
		justify-content: right;
		> div { margin-left: 10px; }
		.btn {
			width: 40px;
			height: 40px;
			border: 1px solid $orange;
			background: transparent;
			display: inline-block;
			color: $orange;
			margin: 0;
			padding: 0;
			line-height: 40px;
			font-size: 1rem;
			border-radius: 0;
			&:hover,
			&.active {
				color: #fff;
				background: $orange;
			}
		}

		.btn:first-child { border-right: 0; }

		.btn-search {
			max-width: 17px;
			overflow: hidden;
			display: flex;
			align-items: center;
			color: $grey;
			text-decoration: none;
			margin-right: 10px;
			i {
				font-size: 0.85rem;
				height: 17px;
				margin-right: 10px;
			}

			&:hover {
				max-width: 60px;
			}
		}

		.menu-mobile { display: none; }
	}

}

footer {
	background: #333;

	.container { position: relative; }

	.footer-navigation,
	.footer-bottom {
		display: flex;
		align-items:center;
		justify-content: space-between;
	}

	.footer-navigation {
		padding: 40px 0 20px;
		.navigation a {
			margin: 0 10px;
			text-decoration: none;
			color: #fff;
			&:first-child {
				margin-left: 0;
			}

			&:hover,
			&.active {
				color: $orange;
			}
		}

		.social-media {
			display: flex;
			align-items: center;
			color: #fff;
			a {
				width: 35px;
				height: 35px;
				border: 1px solid #fff;
				border-radius: 50%;
				font-size: 0.8rem;
				text-align: center;
				display: flex;
				justify-content: center;
				align-items: center;
				color: #fff;
				margin-left: 15px;
				text-decoration: none;
				&:hover {
					border-color: $orange;
					background: $orange;
				}
			}
			i { line-height: 0.5; }
		}
	}

	.line {
		width: 100%;
		height: 1px;
		background-color: rgba(255, 255, 255, 0.4);
	}

	.footer-bottom {
		padding: 20px 0;
		position: relative;
		* { color: #fff; }
		p { margin: 0; }
		.copyright { font-size: 0.8rem; margin-top: 5px; }
		.btn {
			padding: 12px 30px;
		}
	}
}

// jscrollpane
.jspDrag {
	width: 10px;
	background: #b2b3b2;
	border-radius: 10px;
	left: -4px;
}

.jspTrack {
	width: 2px;
	left: 7px;
	background: #e4e4e4;
}

.jspVerticalBar {
	background: none;
}

// box search
.box-search {
	width: 100vw;
	height: calc(100vh - 77px);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #4a4a4a;
	position: absolute;
	left: 0;
	top: 77px;
	overflow: hidden;
	z-index: 1;
	@include transition(0.35s cubic-bezier(1, 0, 0, 1));
	@include transform(translateY(-100%));

	form {
		width: 920px;
		max-width: calc(100% - 30px);
	}

	h2,
	h3 { color: #fff; }
	h2 { text-align: center; font-size: 3.5rem; margin-bottom: 50px; }
	h3 { font-size: 1.5rem; font-weight: normal; }

	.form-group { color: #fff; }
	.form-checkbox { padding: 15px 15px 15px 45px; margin: 0; }
	.form-icon { top: 18px; left: 15px; }
	.form-checkbox input:checked+.form-icon { background: $orange; border-color: #fff; }

	.form-checkbox .bg {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		border: 1px solid transparent;
		z-index: 0;
		@include transition(.25s all) ;
	}

	.form-checkbox input:checked+.form-icon+.bg {
		border-color: $orange;
	}

	.category-filter {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		.list {
			width: 25%;
			padding: 5px;
		}

		.form-group {
			background: #515151;
		}
	}

	.form-input {
		height: auto;
		border: none;
		border-bottom: 2px solid #fff;
		background: none;
		text-align: center;
		@include box-shadow(none);
		font-size: 2rem;
		margin-top: 60px;
		color: #fff;
		line-height: 0;
	}

	.form-input::placeholder {
		color: #fff;
		opacity: 1;
	}

	.form-input::-webkit-input-placeholder {
		color: #fff;
	}

	.form-input::-moz-placeholder {
		color: #fff;
	}

	.form-input:-ms-input-placeholder {
		color: #fff;
	}
	
	.btn { width: 150px; margin-top: 40px; font-size: 1.25rem; }

}

.open-search .box-search {
	@include transform(translateY(0));
}

// eng site
.en {
	.header {
		.navigation-top .link {
			font-size: 0.8rem;
		}

		.logo { margin-right: 15px; }
	}

	footer .footer-navigation .navigation a {
		font-size: 0.8rem;
	}
		
}


@media screen and (min-width:1200px) {
	.container {
		max-width: 1140px;
		padding: 0;
	}
}

@media screen and (max-width:1025px) {
	body { padding-top: 65px; }
	.box-search {
		top: 62px;
		height: calc(100vh - 62px);
	}

	.header {
		.logo {
			width: 60px;
		}

		.navigation {
			&-top {
				.link {
					margin: 0 9px;
				}
			}
		}

		.header-tool {
			.btn {
				width: 35px;
				height: 35px;
				line-height: 35px;
			}
		}
	}
}

@media screen and (max-width:960px) {
	.header {
		.navigation-top {
			width: 100%;
			position: fixed;
			left: 0;
			top: 65px;
			background: #6e7175;
			display: block;	
			padding: 0 15px;
			max-height: 0;
			overflow: auto;
			@include transition(.35s);

			.link { padding: 0; margin: 0 0 15px; line-height: 1; color: #fff; display: block; }
			.link:first-child { margin-top: 15px; }
			.link:after { display: none; }
		}

		.header-tool {
			>div {
				margin-left: 5px;
			}
			.btn {
				width: 25px;
				height: 25px;
				line-height: 25px;
				font-size: 0.7rem;
			}

			.btn-search { margin-right: 5px; }
			.btn-search i { font-size: 0.65rem; }

			.menu-mobile {
				width: 25px;
				height: 25px;
				margin-right: 10px;
				display: block;
				position: relative;

				i {
					color: $orange;
					position: absolute;
					top: 1px;
					left: 0;
					@include transition(.25s);
				}

				.icon-hamburger-open {
					opacity: 0;
					transform: scale(0);
				}
			}
		}

		.box-main-menu.open-menu {

			.navigation-top {
				max-height: calc(100vh - 65px);
			}

			.menu-mobile {
				.icon-hamburger {
					opacity: 0;
					transform: scale(0);
				}

				.icon-hamburger-open {
					opacity: 1;
					transform: scale(1);
				}
			}
		}
	}

	.box-search {
		padding: 20px 0;
		overflow: auto;
		top: 65px;
		height: calc(100vh - 65px);
		align-items: flex-start;

		h2 {
			margin-bottom: 15px;
			font-size: 3rem;
		}

		h3 {
			font-size: 1.25rem;
		}

		.category-filter {
			.list {
				width: 33.33%;
			}
		}

		.form-input {
			margin-top: 30px;
			font-size: 2rem;
		}
	}

	footer {
		.footer-navigation { justify-content: center; }
		.navigation { display: none; }
	}
}

@media screen and (max-width:568px) {
	.highlight-article .column{
		display: flex;
		flex-direction: row;
	}
}

@media screen and (max-width:415px) {
	.header {
		.header-tool {
			.btn-search:hover { max-width: 17px; }
		}
	}

	.box-search {
		padding: 20px 0;
		overflow: auto;
		top: 65px;
		height: calc(100vh - 65px);
		align-items: flex-start;

		h2 { margin-bottom: 15px; font-size: 3rem; }
		h3 { font-size: 1.25rem; }

		.category-filter {
			.list {
				width: 100%;
				padding: 5px 0;
			}
		}

		.form-input { margin-top: 30px; font-size: 2rem; }
	}

	footer {
		.footer-bottom {
			justify-content: center;
			flex-direction: column;
			text-align: center;

			.btn { order: 1; margin-bottom: 15px; }
			.footer-detail {
				order: 2;
			}
		}
	}

}