.section-category {
	background: url(../img/bg-category.jpg) top center no-repeat;
	background-size: cover;

	.owl-carousel { position: relative; }
	.owl-stage-outer { padding-top: 30px; position: relative; z-index: 1; }
	.owl-item {
		@include transition(all .25s);
		position: relative;
		&:hover {
			margin-top: -15px;
		}
	}

	.owl-nav {
		position: absolute;
		z-index: 0;
		width: 100%;
		margin: 0;
		top: 30%;
		display: flex;
		justify-content: space-between;

		.owl-prev,
		.owl-next { 
			width: 50px;
			height: 50px; 
			position: relative;
			background: transparent !important;
			text-transform: uppercase;
			outline: none;
			&:hover { color: #000!important; }
		}

		.owl-prev { left: -70px; }
		.owl-next { right: -70px; }

		.owl-prev:after {
			content:"Back";
			display: block;
			font-weight: bold;
		}

		.owl-next:after {
			content: "Next";
			display: block;
			font-weight: bold;
		}
	}

	.owl-dots { margin-top: 30px; }

	.card-article {
		@include box-shadow(none);
	}

	.card-image {
		display: block;
		overflow: hidden;
	}

	.card-header {
		background: #f4f4f4;
		padding: 15px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		h3 { font-weight: bold; font-size: 1.35rem; }
		
	}

	.btn {
		padding: 5px;
		.icon {
			font-size: 1.5rem;
			position: relative;
			left: -10px;
		}
	}

	a {
		* { @include transition(all .25s); }
	}

	a:hover {
		* { color: #fff; }
		.card-header { background: $orange; }
		.btn { background: #fff;}
		i { color: $orange; }
	}


	
}
