// carousel dot
.owl-theme .owl-dots .owl-dot span,
.owl-theme .owl-dots .owl-dot span { background: #d7d7d7; }
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span { background: $orange; }

// img
img {
	max-width: 100%;
	margin: 0 auto;
	display: block;
}

.hover-img {
	display: block;
	overflow: hidden;

	img {
		@include transition(.25s);
	}

	&:hover img {
		transform: scale(1.05);
	}
}

// card
.card-article {
	border: none;
	@include box-shadow(0 24px 35px rgba(0, 0, 0, 0.17));

	.hashtag {
		color: $orange;
		margin-bottom: 5px;
		font-size: 0.85em;
	}
	.card-title { 
		margin-bottom: 0; 
		font-weight: normal;
		color: #333;
		display: block;
		font-size: 1.1rem;
		line-height: 1;
	}
	
	.card-image {
		a { display: block; overflow: hidden; }
		img { width: 100%; }
	}

	.card-body {
		p {
			font-size: 0.85rem;
			line-height: 1;
			color: #242225;
			margin: 0;
		}
	}

	.card-footer {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		.date {
			font-size: 0.85rem;
			margin: 0;
			color: $grey;
		}
		i { color: lighten($grey,30%); }
		a { color: $orange; }
	}

}

.card-article.card-highlight-article {
	height: 100%;
	position: relative;
	border: none;
	overflow: hidden;
	> a {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		z-index: 3;
	}

	.card-image {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		background-size: cover;
		background-position: top center;
		z-index: 0;
		@include transition(.25s);
		&:before {
			content:"";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: #000;
			opacity: 0.4;
		}
	}

	> a:hover + .card-image {
		transform: scale(1.05);
	}

	.card-content {
		position: absolute;
		width: 100%;
		bottom: 0;
		z-index: 2;
		padding: 0.8rem 0.8rem 0 0.8rem;
		.card-footer {
			padding: 0;
			margin-top: 20px;
			.readmore {
				padding: 15px 20px;
				position: relative;
				right: -0.8rem;
				color: #fff;
			}
			.date,
			i {
				color: #fff;
			}
		}
		
	}

	h3 { color: #fff; }

}

.vdo-list {
	.card-image {
		a {
			position: relative;

			&:before {
				content: "\77";
				font-family: "tij" !important;
				font-style: normal !important;
				font-weight: normal !important;
				font-variant: normal !important;
				text-transform: none !important;
				speak: none;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -25px;
				margin-top: -20px;
				z-index: 3;
				color: #fff;
				font-size: 2.5rem;
				@include transition(.25s);
				opacity: 0.3;
			}

			&:after {
				content:"";
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, 0.4);
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
			}

			&:hover:before {
				color: $orange;
				margin-top: -25px;
				opacity: 1;
			}
		}
	}
}

// section
.section {
	padding: 50px 0;
	overflow: hidden;
}

// tab
.tab {
	display: block;
	border: none;

	.tab-item a {
		width: 100%;
		padding: 15px 25px;
		display: block;
		font-size: 1.2rem;
		border-bottom-color: #f1f1f1;
		font-weight: 500;
		i {
			display: inline-block;
			vertical-align: middle;
			margin-right: 15px;
			font-size: 1.5rem;
			color: #959595;
		}
	}

	.tab-item.active a,
	.tab-item a:focus,
	.tab-item a:hover,
	.tab-item.active i,
	.tab-item a:focus i,
	.tab-item a:hover i { color: $orange; }

	.tab-item.active a { border-bottom-color: $orange; }

	.all-category {
		a {
			color: #fff;
			background: $orange;
			display: flex;
			justify-content: space-between;
			font-weight: bold;
			padding: 15px 25px;
			margin-top: 25px;
			font-size: 1.25rem;

			&:hover {
				text-decoration: none;
				background: #000;
				color: #fff;
			}
		}
	}

}

.view-all {
	margin: 20px 0 0;
	font-weight: bold;
	color: #000;

	i {
		width: 30px;
		height: 30px;
		display: inline-block;
		vertical-align: middle;
		margin-left: 10px;
		font-style: normal;
		color: $orange;
		border: 1px solid $orange;
		font-size: 1.5rem;
		border-radius: 1.5rem;
		line-height: 30px;
		text-align: center;
		font-weight: normal;
		@include transition(all .25s ease);

		&:before {
			content: "+";
		}
	}

	&:hover { text-decoration: none; color: $orange; }
	&:hover i {
		background: $orange;
		color: #fff;
		border-color: $orange;
	}

	&:visited {
		color: $orange;
	}
}

.btn,
.btn-style {
	padding: 15px 25px;
	color: #fff;
	text-align: center;
	background: $orange;
	border: none;
	font-size: 1rem;
	height: auto;
	border-radius: 0;
	cursor: pointer;
	@include transition(.25s);

	&:active,
	&:hover,
	&:focus {
		background: #000;
		color: #fff;
		@include box-shadow(none);
	}

	&:visited { color: #fff; }
}

.btn.btn-outline {
	background: transparent;
	border: 1px solid #fff;

	&:active,
	&:hover,
	&:focus {
		background: $orange;
		border-color: darken($orange,5%);
		color: #fff;
	}
}

.btn.btn-grey {
	background: $grey;
	&:active,
	&:hover,
	&:focus {
		background: $orange;
	}
}

// breadcrumbs
.breadcrumbs {
	background: #fafafa;
	padding: 15px 0;
	color: #c1c1c1;

	a {
		text-decoration: none;
		color: #c1c1c1;
		padding-left: 10px;
		margin-left: 10px;
		border-left: 1px solid #c1c1c1;
		&:first-child {
			padding: 0;
			margin-left: 0;
			border-left: 0;
		}
		&:hover {
			color: $orange;
		}
	}

	span {
		color: $orange;
		padding-left: 10px;
		margin-left: 10px;
		border-left: 1px solid #c1c1c1;
	}
}


// go to top
.go-to-top {
	width: 50px;
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-weight: bold;
	position: absolute;
	top: -25px;
	right: 0;
}

@media screen and (max-width:1025px) {
	.go-to-top { right: 15px; }
	.card-article {
		@include box-shadow(0 10px 15px rgba(0, 0, 0, 0.17));
	}
}

@media screen and (max-width:568px) {
	.tab {
		.tab-item { width: 25%; }
		.tab-item a i { margin: 0; }
		.tab-item a { font-size: 0; text-align: center; }
		.all-category { width: 100%; }
		.all-category a { width: 100%; margin-top: 10px; padding: 10px 15px; }
	}
}

@media screen and (min-width:568px) {
	.tab {
		.tab-item a {
			padding: 15px 25px 15px 75px;
			position: relative;

			i {
				position: absolute;
				left: 25px;
			}
		}
	}
}

