.main-banner {
	
	.slide {
		@include screen(mobile-l) {
			height: calc(60vh - 65px);
		}
	}

	img {
		width: 100%;
		height: 100%;
		display: block;
		-o-object-fit: cover;
		object-fit: cover;
	}

	.container {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		margin-left: 50%;
		transform: translateX(-50%);
	}

	.slide-content {
		max-width: 50%;
		padding: 20px;
		background: rgba(0,0,0,0.2);

		@include screen(mobile-l) {
			max-width: 100%;
		}

		> * { color: #fff; }
		h2 { 
			font-size: 2.5rem; 
			font-weight: normal; 
			
			@include screen(mobile-l) {
				font-size: 1.45rem;
			}
		}
		p { 
			font-size: 1rem; 
			@include screen(mobile-l) { margin-top: 0.5rem; }
		}
		.tag {
			display: inline-block;
			padding: 5px 10px;
			background: $lightorange;
			font-weight: bold;
			font-size: 0.95rem;
			margin-bottom: 30px;
		}

		.readmore {
			display: inline-block;
			padding: 12px 20px;
			font-size: 0.95rem;
			margin-top: 30px;
			font-size: 1.2rem;
			@include screen(mobile-l) { margin-top: 0.75rem; padding: 7px 15px; }
		}
		
	}

	.owl-video-play-icon { display: none; }
	
}

.new-article {
	padding: 50px 0;
	margin-top: -38px;
	background:#f4f4f4 url(../img/bg-new-article.jpg) bottom left no-repeat;

	.slide-article {
		position: relative;
	}

	.card { box-shadow: none; height: 100%; }

	.owl-nav {
		margin: 0;
		position: absolute;
		top: -70px;
		right: 0;

		.owl-prev,
		.owl-next {
			width: 40px;
			height: 40px;
			border: 1px solid $orange!important;
			color: $orange!important;
			border-radius: 0!important;
			outline: none;
			@include transition(.25s);

			&:hover {
				background: $orange!important;
				color: #fff !important;
			}
		}
	}

	.owl-stage {
		display: flex;
	}

	.owl-item { padding: 0 5px; padding-bottom: 50px; }

}

.highlight-article {
	margin-bottom: 20px;
	.columns { margin: 0; }
	.column { margin-bottom: 0.8rem; }
	.card {
		height: 100%;
	}

}

.section-subscribe {
	height: 500px;
	background:#f7f5f6 url(../img/bg-subscribe.jpg) top center no-repeat;

	.container {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		height: 100%;
	}

	.box-subscribe {
		padding: 60px 80px;
		position: relative;
		text-align: center;
		p { font-size: 1.5rem; font-weight: 500; }
		.btn {
			margin-top: 30px;
			width: 100%;
			text-transform: uppercase;
		}
		p,
		.btn { position: relative; z-index: 1; }
		&:after {
			content:"";
			width: 100%;
			height: 100%;
			background: #fff;
			opacity: 0.6;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
		}
	}
}

@media screen and (max-width:415px) {
	.main-banner .slide-content { max-width: 100%; }
	
	.new-article { padding-top: 80px; }
	.highlight-article > .columns > .column { padding: 0; }

	.section-subscribe {
		background-position: center center;
		height: 350px;
		.container { justify-content: center; }
		.box-subscribe { padding: 40px; }
	} 

}