@charset "UTF-8";

@font-face {
	font-family: "tij";
	src: url("fonts/tij.eot");
	src: url("fonts/tij.eot?#iefix") format("embedded-opentype"),
		url("fonts/tij.woff") format("woff"),
		url("fonts/tij.ttf") format("truetype"),
		url("fonts/tij.svg#tij") format("svg");
	font-weight: normal;
	font-style: normal;

}

[data-icon]:before {
	font-family: "tij" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak-as: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "tij" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak-as: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-hamburger:before {
	content: "\65";
}

.icon-hamburger-open:before {
	content: "\66";
}

.icon-arrow-right:before {
	content: "\61";
}

.icon-calendar:before {
	content: "\62";
}

.icon-book:before {
	content: "\63";
}

.icon-computer-book:before {
	content: "\64";
}

.icon-download:before {
	content: "\67";
}

.icon-folder:before {
	content: "\68";
}

.icon-graph:before {
	content: "\69";
}

.icon-open-mail:before {
	content: "\6a";
}

.icon-presentation:before {
	content: "\6b";
}

.icon-share:before {
	content: "\6c";
}

.icon-sheet:before {
	content: "\6d";
}

.icon-vdo:before {
	content: "\6e";
}

.icon-search:before {
	content: "\6f";
}

.icon-angle-left:before {
	content: "\70";
}

.icon-angle-right:before {
	content: "\71";
}

.icon-angle-up:before {
	content: "\72";
}

.icon-facebook:before {
	content: "\73";
}

.icon-twitter:before {
	content: "\74";
}

.icon-youtube:before {
	content: "\75";
}

.icon-open-book:before {
	content: "\76";
}

.icon-play-circle:before {
	content: "\77";
}

.icon-international-standard:before {
	content: "\78";
}

.icon-angle-down:before {
	content: "\79";
}

.icon-check:before {
	content: "\7a";
}

.icon {
	line-height: 0.5;
	display: inline-block;
	vertical-align: middle;
}