.popup {
	max-width: calc(100vw - 40px);
	margin: 20px 0;

	.inner {
		width: 680px;
		max-width: 100%;
		background-color: #fff;
		padding: 30px;

		h2 {
			margin-bottom: 30px;
			font-size: 2rem;
			text-align: center;
		}
	}

	&.-subscribe {
		label,
		.select-style,
		.inputtext-style {
			width: 100%;
			display: block;
			font-size: 0.75rem;
		}

		label { margin-bottom: 18px; }
		.select-style,
		.inputtext-style {
			background: #fff;
			padding: 12px 30px;
			border: 1px solid $grey;
		}

		.form-group {
			margin-top: 25px;
			margin-bottom: 0;
		}
		
		.btn-style {
			width: 100%;
			margin-top: 15px;
		}
	}

	@include screen(mobile-p) {
		.inner {
			width: 100%;
			padding: 20px 0px;
		}
	}
}

