.section-search-result {

	.box-article-list {
		margin: 20px 0;
		height: auto;
	}

	.article-list {
		min-height: 200px;
		margin-bottom: 30px;

		a {
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;
			padding-left: 30%;
			color: #000;
			min-height: 200px;

			&:hover {
				background: $orange;

				* {
					color: #fff;
				}
			}
		}

		.thumbnail {
			width: 30%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-size: cover;
			background-position: top center;
			background-repeat: no-repeat;
		}

		.text {
			padding: 20px;

			.date {
				display: block;
				margin-top: 5px;
				font-size: 0.9em;
			}
		}

		.hashtag {
			display: block;
			color: $orange;
		}

		.title {
			display: block;
			font-size: 1.25em;
		}

	}



}