@font-face {
	font-family: 'DB Ozone X';
	src: url('../css/fonts/DBOzoneX-Bold.woff2') format('woff2'),
		url('../css/fonts/DBOzoneX-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'DB Ozone X';
	src: url('../css/fonts/DBOzoneX-Medium.woff2') format('woff2'),
		url('../css/fonts/DBOzoneX-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'DB Ozone X';
	src: url('../css/fonts/DBOzoneX.woff2') format('woff2'),
		url('../css/fonts/DBOzoneX.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


html,
body,
button {
	font-family: $fontstyle;
}


html,
body {
	color: $grey;
	font-size: 20px;
	line-height: 1.25;
}

html.page-text-large,
html.page-text-large body {
	font-size: 22px;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: $fontstyle;
	font-weight: bold;
	line-height: 1;
	color: $orange;
	margin-bottom: 15px;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }
h4 { font-size: 1rem; }

strong {
	font-family: $fontstyle;
	font-weight: bold;
}

a {
	color: $grey;
	@include transition(all .25s ease);
	font-size: 1rem;
	outline: none;
	text-decoration: none;
}

a:visited {
	color: $grey;
}

a:hover,
a:active,
a:focus,
a.active {
	text-decoration: none;
	color: $orange;
}

a:active,
a:focus,
a:visited {
	@include box-shadow(none);
	text-decoration: none;
}



p { 
	margin-top: 1.2rem; margin-bottom: 0;
	&:first-child { margin-top: 0; }
}

.section-title,
.title-underline {
	color: #000;
	margin-bottom: 60px;
	position: relative;
	&:after {
		content:"";
		width: 50px;
		height: 20px;
		background: $orange;
		position: absolute;
		bottom: -30px;
		left: -20px;
	}
}

.section-title { font-size: 3rem; }

.date {
	i {
		display: inline-block;
		vertical-align: middle;
		margin-right: 8px;
		font-size: 0.85em;
	}
}

.readmore {
	background: $darkorange;
	color: #fff;
	i { 
		display: inline-block;
		vertical-align: middle;
		font-size: 0.8em;
		margin-left: 10px;
	}
	&:hover {
		text-decoration: none;
		background: lighten($darkorange, 5%);
	}
}

// text-color
.text-orange { color: $orange; }
.text-grey { color: $grey; }

// form 

.form-style {
	.select-style {
		appearance: none;
	}

	.select-box {
		position: relative;
	}

	.select-box:before {
		font-family: "tij";
		content: '\79';
		width: 46px;
		height: 46px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		position: absolute;
		right: 0;
		bottom: 0;
		pointer-events: none;
	}

	.checkbox-style {
		input[type="checkbox"] {
			display: none;
		}

		label {
			position: relative;
			padding: 0 0 0 32px;
			display: inline-block;
			cursor: pointer;

			&::before {
				content: '';
				width: 20px;
				height: 20px;
				display: block;
				background-color: #fff;
				border: 1px solid #7d7d7d;
				position: absolute;
				left: 0;
				top: 0;
			}

			&::after {
				font-family: "tij";
				content: '\7a';
				display: block;
				position: absolute;
				left: 2px;
				top: -1px;
				font-size: 18px;
				color: #7d7d7d;
				transform: scale(0);
				@include transition(.25s);
			}
		}

		input[type="checkbox"]:checked+label::after {
			transform: scale(1);
		}
	}
} 

@media screen and (max-width:1025px) {
	html,
	html body {
		font-size: 18px;
	}

	html.page-text-large,
	html.page-text-large body {
		font-size: 20px;
	}
}

@media screen and (max-width:415px) {

	body,
	html {
		font-size: 18px;
	}

	html.page-text-large,
	html.page-text-large body {
		font-size: 20px;
	}

}