// ----- variable
$fontstyle: 'DB Ozone X';
$orange: #ed7725;
$lightorange: #f47d33;
$darkorange: #cb6c31;
$grey: #666;

// mixin
@mixin box-shadow($property) {
    -webkit-box-shadow: $property;
    box-shadow: $property;
}

@mixin text-shadow($property) {
    -webkit-text-shadow: $property;
    text-shadow: $property;
}

@mixin transition($property) {
    -webkit-transition: ($property);
    -moz-transition: ($property);
    -ms-transition: ($property);
    -o-transition: ($property);
    transition: ($property);
}

@mixin transform($property) {
	-webkit-transform: ($property);
	-moz-transform: ($property);
	-ms-transform: ($property);
	-o-transform: ($property);
	transform: ($property);
}

// media screen
@mixin phone-p() {
	@media (max-width:566px) {
		@content;
	}
}

@mixin screen($size, $width: 0px, $maxWidth: 0px) {
	@if ($size=='full-hd') {
		@media only screen and (min-width:1920px) {
			@content;
		}
	}

	@else if ($size=='desktop') {
		@media only screen and (min-width:1366px) {
			@content;
		}
	}

	@else if ($size=='ipad-pro-l') {
		@media only screen and (min-width:1024px) and (max-width:1366px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:1.5) {
			@content;
		}
	}

	@else if ($size=='ipad-pro-p') {
		@media only screen and (min-width:1024px) and (max-width:1366px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:1.5) {
			@content;
		}
	}

	@else if ($size=='tablet-l') {
		@media only screen and (max-width:1024px) {
			@content;
		}
	}

	@else if ($size=='tablet-p') {
		@media only screen and (max-width:1023px) {
			@content;
		}
	}

	@else if ($size=='mobile-l') {
		@media only screen and (max-width:767px) {
			@content;
		}
	}

	@else if ($size=='mobile-p') {
		@media only screen and (max-width:479px) {
			@content;
		}
	}

	@else if ($size=='min-width') {
		@media only screen and (min-width:$width) {
			@content;
		}
	}

	@else if ($size=='max-width') {
		@media only screen and (max-width:$width) {
			@content;
		}
	}

	@else if ($size=='custom-width') {
		@media only screen and (min-width:$width) and (max-width:$maxWidth) {
			@content;
		}
	}
}