.pdpa-cookie {
  width: 100%;
  background: rgba(44, 44, 44, 0.95);
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}
.pdpa-cookie h3 {
  color: #fff;
  font-size: 22px;
}
.pdpa-cookie p {
  color: #fff;
}
.pdpa-cookie .box-detail {
  margin-top: 15px;
  padding-top: 20px;
  border-top: 2px solid #ed7725;
}
@media screen and (min-width: 768px) {
  .pdpa-cookie .box-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.pdpa-cookie .box-btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 315px;
          flex: 0 0 315px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .pdpa-cookie .box-btn {
    margin-left: 20px;
    margin-top: 0;
  }
}
.pdpa-cookie .box-btn .btn {
  width: 150px;
  margin-left: 15px;
}
.pdpa-cookie .box-btn .btn:first-child {
  margin-left: 0;
}