.pdpa-cookie {
	width: 100%;
	background: rgba(44,44,44,0.95);
	padding: 20px 0;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 100;

	h3 {
		color: #fff;
		font-size: 22px;
	}

	p {
		color: #fff;
	}

	.box-detail {
		margin-top: 15px;
		padding-top: 20px;
		border-top: 2px solid #ed7725;
		
		@media screen and (min-width: 768px) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	.box-btn {
		flex:0 0 315px;
		display: flex;
		justify-content: center;
		margin-top: 20px;

		@media screen and (min-width: 768px) {
			margin-left: 20px;
			margin-top: 0;
		}

		.btn {
			width: 150px;
			margin-left: 15px;

			&:first-child { margin-left: 0; }
		}
	}
}